<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSaritmetica" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2934/WSaritmetica.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWSaritmetica" contract="srvAritmetica.IWSaritmetica"
                name="BasicHttpBinding_IWSaritmetica" />
        </client>
    </system.serviceModel>
</configuration>